*
{
    margin: 0;
    padding: 0;
}
header{
    background-color: #673A44;
    height: 40px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.head-p{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}
.voiti{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}
.forum{
    margin-top: 60px;
    margin-left: 200px;
}
button{
    background-color: #6A3B45;
    padding: 26px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
}
.kab{
    font-size: 70px;
    font-weight: 700;
    width: 430px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.servic{
    width: 470px;
    font-size:  24px;
    margin-bottom: 40px;
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rectangle{
    width: 500px;
    height: 140px;
    padding-top: 10px;
    border: 1px solid grey;
    border-radius: 15px;
}
.rectangles{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 100px;

}
.square{
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    border: 1px solid #e2dede;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
}
.squares{
      width: 80%;
      margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
  

}
.big-img{
    width: 1100px;
    height: 700px;
   margin-left: 230px;
}
.third{
    background-color: #F2F2F2;
    height: 1100px;
    padding-top: 100px;
}
.upravlenie{
    font-size: 60px;
    font-weight: 700;
    width:700px;
}
.oformlenie{
    color: #575757;
    width: 700px;
    font-size: 24px;
    font-weight: 400px;
}
.ver-table{
    width: 580px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #843546;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.nisch-table{
    width: 580px;
    height: 380px;
    background-color: white;
}
table,tr,td{
   
    
}
table{
    width: 580px;
    height: 380px;
    border-collapse: collapse;
    background-color: white;
     
}
tr{
border: 1px solid rgb(176, 175, 175);

}
.dis
{
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 80%;
}
.four-rec{
    border: 1px solid silver;
}
.rows{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.kontrol{
    font-size: 60px;
    font-weight: 700;
    width: 660px;
    margin-bottom: 50px;
}
.ser{
    font-size: 24px;
    color: #575757;
    width: 680px;
}
.boy-list{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.sinch{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}
.judge{
    width: 260px;
    height: 220px;
    padding-top: 20px;
    border: 1px solid grey;
    border-radius: 7px;
 text-align: center;
}
.sq{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.picture{
    width: 70%;
    margin: auto;
    margin-left: 230px;
}
.kolegi{
    font-size: 50px;
    font-weight: 700;
    width: 630px;
    margin-top: 30px;
}
.mog{
    color: #575757;
    font-size: 22px;
    font-weight: 400;
    width: 670px;
}
.komanda-pic{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
}
.five{
    background-color: #F2F2F2;
    height: 900px;
    padding-top: 100px;
}
.p-six{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;

}
.pad{
    width: 300px;
    height: 370px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 14px;
}
.imgoff{
margin-left: 50px;

}
.pads{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.seven{
    background-color: #F2F2F2;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 80px;
    padding-top: 30px;
    align-items: center;
   

}
.res{
    font-size: 40px;
    font-weight: 700;
    width: 500px;
}
.chran{
    color: #575757;
    font-size: 20px;
    width: 500px;
}
.scroll{
    width: 500px;
    height: 450px;
}
